body {
    margin: 0;
    padding: 0;
}
  
@font-face {
    font-family: Quicksand;
    src: url("../plugins/fonts/Quicksand-Medium.ttf");
}
@font-face {
    font-family: Quicksand-Regular;
    src: url("../plugins/fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: Quicksand-Light;
    src: url("../plugins/fonts/Quicksand-Light.ttf");
}
@font-face {
    font-family: Quicksand-Bold;
    src: url("../plugins/fonts/Quicksand-Bold.ttf");
}
@font-face {
    font-family: Quicksand-Black;
    src: url("../plugins/fonts/Quicksand-SemiBold.ttf");
}

canvas {
    padding: 36px 0;
    width: 90% !important;
    margin: auto;
}

.row {
    margin: 0;
    padding: 0;
}

.uppercase-text {
    text-transform: uppercase;
}

.lowercase-text {
    text-transform: lowercase;
}

.capitalize-text {
    text-transform: capitalize;
}

.helper-text {
    font-size: small;
    font-family: Quicksand-Medium;
}

.red-text{
    color: #842029;
}

.text-danger{
    font-size: 12px;
}

/* =========================== */
/* TOP BAR */
/* =========================== */
  
.header {
    top: 0px;
    position: relative;
    z-index: 50;
    background: #fff;
    height: 60px;
    width: 100%;
    padding: 0px;
    box-shadow: 2px 4px 6px -6px rgb(16 47 63);
}
  
.header-nav {
    background-color: #fff;
    top: 0;
    padding: 0;
    margin: 0;
}
  
.header-nav__left {
    width: auto;
    float: left;
    text-align: center;
    vertical-align: middle;
    top: 0;
    background-color: white;
}
  
.header-nav__left__logo__icon {
    margin: 0 10px;
}
  
.header-nav__left__logo__text {
    font-family: Quicksand;
    color: #262626;
}
  
.header-nav__right {
    padding-top: 12px;
    float: right;
    padding-right: 30px;
}

.header-nav__right ul li {
    list-style: none;
}
  
.nav-search__form {
    margin-right: 30px;
}

.nav-search__form__input {
    border-radius: 15px;
}
  
.nav-search__form__icon {
    position: absolute;
    z-index: 50;
    transform: translateX(159px);
    background-color: #26262600;
}
  
.nav-search__icon__button {
    border: none;
    background-color: #26262600;
    color:steelblue;
}
  
.nav-profile__avatar {
    text-decoration: none;
}
  
.nav-profile__avatar__circle {
    margin-right: 10px;
}
  
/* =========================== */
/* END TOP BAR */
/* =========================== */
  
/* =========================== */
/* SIDE BAR */
/* =========================== */
  
.sidebar-item {
    display: inherit;
    margin: 5px 0px;
    list-style: none;
}
  
.hide-menu {
    font-family: Quicksand;
    letter-spacing: 1px;
    font-size: 14px;
}
  
.content-sidebar__scroll li a {
    color: rgb(28, 18, 18);
    font-size: 14px;
    font-family: Quicksand;
    text-decoration: none;
}
  
.content-sidebar__scroll {
    width: 286px;
    height: calc(100% - 20px);
    position: relative;
}
  
.content-sidebar {
    position: absolute; 
    width: 285px;
    margin-top: 4px;
    z-index: 10;
    background: #fff;
    -webkit-box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
    box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
}
  
.sidebar-nav ul .sidebar-item .sidebar-link {
    padding: 15px;
    border-left: 3px solid transparent;
    display: flex;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 20px;
    font-weight: 300;
}
  
.sidebar-nav ul {
    padding-left: 0rem;
}
  
.sidebar-nav ul li {
    box-shadow: 2px 4px 6px -6px rgb(16 47 63);
    border: #2626266a solid 1px;
    border-radius: 5px;
}
  
.sidebar-nav ul .sidebar-item .sidebar-link i {
    font-style: normal;
    width: 35px;
    line-height: 20px;
    color: #54667a;
    text-align: center;
}
  
.sidebar-link > span {
    font-size: 15px;
    letter-spacing: 1.5px;
}
  
.sidebar-link > i {
    font-size: 20px;
}

.submenu > li {
    padding: 8px;
}
  
.page-wrapper {
    width: 100%;
    background: #edf1f5;
    position: relative;
    height: 100vh;
}

.box {
    width: 85%;
    margin: 20px 8%;
}

.box-header {
    width: 100%;
    float: right;
    padding: 20px 15px;
}
  
.page-breadcrumb {
    padding: 13px 25px;
}
  
.sidebar li .submenu{ 
      list-style: none; 
      margin: 0; 
      padding-bottom: 0.5rem; 
      padding-left: 2.5rem; 
      padding-right: 0.5rem;
}
  
.submenu li {
    margin: 5px 0px;
    font-size: 14px;
}
  
.homepage-chart{
    padding-top: 50px;
    margin: auto;
    width: 85%;
}

.sticky-sidebar {
      position: -webkit-sticky;
      position: sticky;
      display:block;
}
  
.content{
    width: 100%;
    display: flex;
}

.action-employee{
    padding-left: 20px;
}

.action-employee a i,  .action-employee button i{
    transform: translateX(-3px);
}

.action-employee a, .action-employee button {
    margin-left: 10px;
}

.table-bg {
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

.card-content {
    margin: 20px 0;
}

.card-panel {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6.36px 8.896px cadetblue, 0 -2px 3px #fff;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 100px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}
  
.dropdown-content:focus {
    outline: 0;
}
  
.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
}
  
.dropdown-content li:hover, .dropdown-content li.active {
    background-color: #eee;
}
  
.dropdown-content li:focus {
    outline: none;
    background-color: #dadada;
}
  
.dropdown-content li.divider {
    min-height: 0;
    height: 1px;
}
  
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
  
.dropdown-content li > span > label {
    top: 1px;
    left: 0;
    height: 18px;
}
  
.dropdown-content li > a > i {
    height: inherit;
    line-height: inherit;
    float: left;
    margin: 0 24px 0 0;
    width: 24px;
}
  
.list-title {
    margin-left: 15px;
}

@media only screen and (max-width: 1024px) {
    .hide-menu {
        display: none;
    }
    
    .content-sidebar__scroll, .content-sidebar {
        width: auto;
    }

    .header-nav__right ul li {
        float: left;
    }
}

@media only screen and (max-width: 767.5px) {
    .header-nav__left__logo__text {
        display: none;
    }
    .header-nav__right {
        padding-top: 4px;
    }
}

@media only screen and (max-width: 459px) {
    .nav-search__form .nav-search__form__input {
        width: 150px;
    }
    .nav-search__form__icon {
        transform: translateX(110px);
    }
}

@media only screen and (max-width: 410px) {
    .nav-search__form .nav-search__form__input {
        display: none;
    }
    .nav-search__form__icon {
        transform: translateX(-50px);
    }
}
@media only screen and (min-height: 99vh) {
    .page-wrapper{
        height: 120vh;
    }
}
